.page {
    background: #E5E5E5;
    height: 100vh;
}
.bgbiru{
    position: absolute;
    width: 260px;
    height: 690px;
    left: 76px;
    top: 127px;

    background: #0500FF;
    border-radius: 25px;
}
.list-group {
    width: 91%;
    margin-left: 4%;
    margin-top: 91%;
    background: blue;
}

input.list-group-item.list-group-item-action.active {
    background-color: white;
    color: black;
    border: 2px solid black;;
    border-radius: 9px;
}
input.list-group-item.list-group-item-action {
    background-color: #0500FF;
    padding: 15px 15px;
    color: white;
    border-style: none;
}
.bgputih {
    position: absolute;
    width: 43%;
    height: 690px;
    left: 315px;
    top: 127px;
    background: #FFFFFF;
}
.list-group-item-action:focus, .list-group-item-action:hover {
    width: 221px;
    background-color: grey;
}

.bgputih p {
    margin-top: 10%;
    margin-left: 10%;
}
.combo{
    display: flex;
    margin-top: 30%;
    flex-direction: column;
}

.combo .col-4{
    position: absolute;
    width: 459px;
    height: 124px;
    left: 1306px;
    top: 135px;
    background: #FFFFFF;
    border-radius: 25px;
}

.combo .col-8{
    position: absolute;
    width: 459px;
    height: 520px;
    left: 1306px;
    top: 290px;

    background: #FFFFFF;
    border-radius: 25px;
}
.flow{
    display: flex;
    margin-top: 10%;
    margin-left: 21%;
}
.angka{
    padding-left: 10px ;
    margin-right: 10px;
    color: white;
}
.proses{
    margin-right: 10px;
}
.lingkaran{
    width: 25px;
    height: 25px;
    background: #0500FF;
    border-radius: 15px;
}
.angka1{
    padding-left: 7px ;
    margin-right: 10px;
    color: white;
}
.btno{
    margin-top: 5%;
    margin-left: 50%;
    flex: 1 1 7rem;
    padding: 10px 34px;
    border: none;
    border-radius: 0.5rem;
    background: #ebc43a;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.btno:hover{
    background: #F0B61F;
}
.btn3 {
    position: absolute;
    padding: 8px 29px;
    width: 110px;
    height: 45px;
    left: 992px;
    bottom: 142px;
    background: #ebc43a;
    border-radius: 15px;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: initial;
    padding: 10px 20px;
}
.btn3:hover{
    background: #F0B61F;
}
